<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="Xiucai.DbConnection" providerName="System.Data.SqlClient" 
             connectionString="server=.;uid=sa;pwd=905E27CF6F8CCF0CF5259F9B3DCE1F;database=bpm"/>
            
    </connectionStrings>
    <appSettings>

        <add key="dbname" value="bpmef"/>
        <add key="host" value=""/>
        <!--数据库连接字符串加密-->
        <add key="useEncrypt" value="false"/>
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime requestValidationMode="2.0"/>    
        <pages enableViewState="false"></pages>
        
        <!-- IIS 6设置-->
        <httpHandlers>
          <add verb="*" path="*.hxl" type="Xiucai.Common.ValidateCode.VcodePage"/>
        </httpHandlers>
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="false"/>
        <handlers>
            <add name="validateCode" verb="*" path="validatecode.hxl" type="Xiucai.Common.ValidateCode.VcodePage"/>
        </handlers>
    </system.webServer>
</configuration>
